// Default to light theme
$primary-color: #3a3f58;
$background-color: #f7f8fa;
$text-color: #333;


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  margin-bottom: 25px;
}

html {
  min-height: 100%;

}

body {
  font-family: "Open Sans", 'Montserrat', 'Helvetica Neue';
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --grid-hue: 220;
  /* color of background/lines */
  --grid-gap: 12px;
  /* size of the minor squares (line gaps) */
  --grid-opacity: 0.35;
  /* opacity of crosses */

  --grid-border: 16px;

  --grid-light: hsl(var(--grid-hue), 50%, 92%);
  --grid-dark: hsl(var(--grid-hue), 20%, 18%);
  --grid-bg: light-dark(var(--grid-light), var(--grid-dark));

  --grid-minor: light-dark(hsl(var(--grid-hue) 60% 20% / calc(var(--grid-opacity) * 0.125)), hsl(var(--grid-hue) 60% 80% / calc(var(--grid-opacity) * 0.125)));
  --grid-major: light-dark(hsl(var(--grid-hue) 60% 20% / calc(var(--grid-opacity) * 0.35)), hsl(var(--grid-hue) 60% 80% / calc(var(--grid-opacity) * 0.35)));
  --grid-cross: light-dark(hsl(var(--grid-hue) 60% 20% / var(--grid-opacity)), hsl(var(--grid-hue) 60% 80% / var(--grid-opacity)));

  --paper-lines-y: linear-gradient(var(--grid-minor) 0px 1px, transparent 1px var(--grid-gap));
  --paper-lines-x: linear-gradient(to right, var(--grid-minor) 0px 1px, transparent 1px var(--grid-gap));
  --paper-lines-y-major: linear-gradient(var(--grid-major) 0px 1px, transparent 1px calc(var(--grid-gap) * 5));
  --paper-lines-x-major: linear-gradient(to right, var(--grid-major) 0px 1px, transparent 1px calc(var(--grid-gap) * 5));
  --paper-cross-y: linear-gradient(var(--grid-cross) 0px 1px, transparent 1px calc(var(--grid-gap) * 5));
  --paper-cross-x: linear-gradient(to right, var(--grid-cross) 0px 1px, transparent 1px calc(var(--grid-gap) * 5));
  --paper-cross-mask: radial-gradient(circle at center, transparent calc(var(--grid-gap)/2), var(--grid-bg) calc(var(--grid-gap)/2) 100%);

  --paper-gradient:
    var(--paper-lines-y),
    var(--paper-lines-x),
    var(--paper-lines-y-major),
    var(--paper-lines-x-major),
    var(--paper-cross-mask),
    var(--paper-cross-y),
    var(--paper-cross-x);

  background-size:
    var(--grid-gap) var(--grid-gap),
    var(--grid-gap) var(--grid-gap),
    calc(var(--grid-gap) * 5) calc(var(--grid-gap) * 5),
    calc(var(--grid-gap) * 5) calc(var(--grid-gap) * 5),
    calc(var(--grid-gap) * 5) calc(var(--grid-gap) * 5),
    calc(var(--grid-gap) * 5) calc(var(--grid-gap) * 5),
    calc(var(--grid-gap) * 5) calc(var(--grid-gap) * 5);

  background-repeat:
    repeat,
    repeat,
    repeat,
    repeat,
    repeat,
    repeat,
    repeat;

  background-position:
    var(--grid-border) var(--grid-border),
    var(--grid-border) var(--grid-border),
    var(--grid-border) var(--grid-border),
    var(--grid-border) var(--grid-border),
    calc(var(--grid-border) - var(--grid-gap) * 2.5) calc(var(--grid-border) - var(--grid-gap) * 2.5),
    var(--grid-border) var(--grid-border),
    var(--grid-border) var(--grid-border);

  background-color: var(--grid-bg);
  background-image: var(--paper-gradient);

  box-shadow: inset 0 0 0 var(--grid-border) var(--grid-bg), inset 0 0 0 calc(var(--grid-border) + 1px) var(--grid-cross), inset 0 0 0 calc(var(--grid-border) + 1px) var(--bg2);
  padding: var(--grid-border);

  min-width: 100svw;
  min-height: 100svh;

  transition: --grid-gap 0.2s ease-in-out;
}

main {
  flex-grow: 1;
}

header,
footer {
  padding: 10px 5px;
  background: $primary-color;
  color: white;
}

header {
  margin-bottom: 40px;
}

header ul {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  background-color: #111111;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  width: 100%;
}

nav {
  position: relative;
  left: 3vw;
}

.section-title h2 {
  width: 100vw;
}

.project-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-item h3 {
  margin-top: 15px;
  font-size: 1.25em;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: $background-color;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.highlight {
  background-color: #2d2d2d;
  color: #e0e0e0;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.highlight .k {
  color: #c792ea;
}

.highlight .nb {
  color: #82aaff;
}

.highlight .s {
  color: #c3e88d;
}

.highlight .mi {
  color: #f78c6c;
}

.highlight .c {
  color: #5c6370;
}

.highlight .p {
  color: #89ddff;
}

.highlight .o {
  color: #ff5370;
}

.profile-image {
  float: left;
  margin: 20px 25px 25px 0;
  width: 150px;
  vertical-align: top;
}

.project-image {
  float: left;
  margin: 20px 25px 25px 0;
  max-width: 200px;
  vertical-align: top;
}

.inline-image {
  max-width: 350px;
  margin: 0px 25px 15px 25px;
  vertical-align: top;

  &-l {
    float: left;
    margin-left: 0;
  }

  &-r {
    float: right;
    margin-right: 0;
  }
}

.profile-image,
.project-image {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.gallery-container {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.gallery-item {
  overflow: visible;
  text-align: center;
  transition: transform 0.3s ease;
  max-width: 250px;
  height: auto;
}

.gallery-item img {
  width: 100%;
  height: 85%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.gallery-item p {
  margin: 13px 0;
  font-size: .9rem;
  color: $text-color;
}

.gallery-item a {
  text-decoration: none;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.project-image {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-arrow {
  display: inline-block;
  font-size: 1.1em;
  color: #686d85;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.back-arrow:hover {
  color: #3a3f58;
  transform: translateX(-4px);
}